@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply flex flex-col md:grid m-0 p-0 h-screen; 
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header header"
    "nav main";
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
}

.table-container {
  overflow-x: auto;
  white-space: nowrap;
}